.container
{
    position:relative;
    display:flex;
    flex-direction:column;
    float:left;
    
}
button{
    width:150px;
    height:70px;
    background-color:darkseagreen;
    color:azure;
    font-size:20px;
    border-radius:10px;

}

body{
    background-color:rgb(26, 134, 184);
}
h1 {
    text-align:center;
    color:mediumaquamarine;
    border: 5px solid black;
}

.text{
   
    position:relative;
    right:10px;
    margin:5px;
    font-size:30px;
    text-align:right;
    width: auto;
}
a {
    
    border: 2px solid;
    text-decoration:none;
    color:black;
    font-size:30px;
    letter-spacing:0.01em;
    margin: 10px;
}
a:hover{
    color: rgb(36, 83, 95);
}
.shevet{
   
    display: flex;
    position: relative;
    margin-top: 215px;
    margin-bottom: 10px;
    
   
    justify-content: center;
   align-content: center;
    height:100%;
    width: 100%;
    
    
}

.image{
    
    position:absolute ;
    top: 0px;
    margin: 0 auto;
    
}

img{
    width: 550px;
    height: 220px;
    border-radius: 20px;
    
}
.header{
    position: absolute;
    top: 0;
    width: 99%;
    display: flex;
    justify-content: space-around;
    background-color: cornflowerblue;   
   
}
.middle{
    margin-left: 20%;
    margin-right: 20%;
}
.buttons{
    position: fixed;
}
p:hover{
    color: royalblue;
}
.textBox{
    width: 70%;
    float: right;
    display: flex;
    flex-direction: column;
    height: 100%;  
   
}